<!-- use either src or link-thumb for thumbnail image -->
{{ $src := .Get "src" }}
{{ $url := (.Get "link" | default (.Get "src")) }}
<!-- Allow local and remote images -->
{{ if and $src (not (findRE "^(/|http(s?)://)" $src)) }}
{{ $src = ($.Page.Resources.GetMatch (.Get "src")).RelPermalink }}
{{ end }}
{{ if not (findRE "^(/|http(s?)://)" $url) }}
{{ $url = ($.Page.Resources.GetMatch $url).RelPermalink }}
{{ end }}
{{- $thumb := $src | default (printf "%s." (.Get "thumb") | replace $url ".") }}

<div class="box" {{ with .Get "width" }}style="max-width:{{.}}"{{end}}>
    <a href="{{ $url }}" class="luminous">
        <img src="{{ $url }}">
    </a>
</div>
